
@{
    ViewBag.Title = "Ekle";
    Layout = "~/Views/Shared/_Layout.cshtml";

    Model m = new Model();
    FirmUser u = m.FirmUsers.FirstOrDefault(x => x.username == HttpContext.Current.User.Identity.Name);
}
@using AccountingERP.Models
@model Income
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">

            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>

<section class="content">
    <div class="card">
        <div class="card-header">
            <a href="/Gelir/Index" class="btn btn-danger btn-pri"><i class="fa fa-backward" aria-hidden="true"></i> Geri</a>
            <div class="card-tools">
            </div>
        </div>
        <div class="card-body" align="center">
            <form action="/Gelir/Ekle" method="post" role="form" onsubmit="subFr()">
                @if (Model != null)
                {
                    <input type="hidden" name="IncomeID" value="@Model.IncomeID" />
                    if (Model.IncomeID != 0 && Model.FirmUser != null && Model.Amount != 0 && Model.EventDate != null)
                    {
                        <label>@Model.FirmUser.username adlı kullanıcıya ait @Model.Amount TL miktarındaki Gelir bilgisi</label><br /><label>@Model.EventDate</label>
                    }
                }
                <div class="form-group col-md-4">
                    @if (Model.Amount == 0)
                    {
                        <label>Gelir Miktarı</label>
                        <input value="" class="form-control" type="number" name="MiktarF" placeholder="Gelirin miktarını giriniz" required="" min="0.001" step=".001" max="9999999999999999" style="border-block-color:red" />
                    }
                </div>

                @if (Model.FirmUser == null)
                {
                    if (ViewBag.Paydaslar != null)
                    {
                        <div class="form-group col-md-4">
                            <label>Geliri Alan</label> <br />
                            @Html.DropDownList("Paydaslar")
                        </div>
                    }

                }

                <div class="form-group col-md-4">
                    <label>Açıklama</label>
                    @if (Model.Description == null)
                    {
                        <input value="" class="form-control" type="text" name="Description" maxlength="255" placeholder="Açıklama giriniz" />
                    }
                    else
                    {
                        <input value="@Model.Description" class="form-control" type="text" name="Description" maxlength="255" placeholder="Açıklama giriniz" />
                    }
                </div>
                @if (u.Rank != -1)
                {
                    <input type="submit" class="btn btn-primary" id="buttons" value="Kaydet" />
                }

            </form>
        </div>
        <div class="card-footer">
            Gerekli alanları boş bırakmayın.
        </div>
    </div>
</section>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    function subFr() {
        document.getElementById("buttons").disabled = true;
    }
</script>
