<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://kit.fontawesome.com/3db5af6df5.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap" rel="stylesheet">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Accounting ERP", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (@HttpContext.Current.User.Identity.Name == "")
                    {
                        <li>@Html.ActionLink("Ana sayfa", "Index", "Home")</li>
                        <li>@Html.ActionLink("Giriş yap", "Login", "User")</li>
                        <li>@Html.ActionLink("Üye ol", "Register", "User")</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Ana sayfa", "Dashboard", "Home")</li>
                    }

                </ul>
                <ul class="nav navbar-nav" style="float:right";>
                    @if (@HttpContext.Current.User.Identity.Name != "")
                    {
                        <li>
                            @Html.ActionLink("Çıkış yap", "Logout", "User", new { area = "" }, new { @class = "navbar-left" })
                        </li>
                    }
                </ul>
                
            </div>
        </div>
    </div>
    <div class="container body-content" style="margin-top: 15px">
        @if (ViewBag.DoneMsg != null)
        {
            <div class="alert alert-success alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <h5><i class="icon fas fa-check"></i> Başarılı!</h5>
                @ViewBag.DoneMsg
            </div>
        }
        @if (ViewBag.FailMsg != null)
        {
            <br />
            <div class="alert alert-danger alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <h5><i class="icon fas fa-exclamation-triangle"></i> Hata!</h5>
                @ViewBag.FailMsg
            </div>
        }
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Accounting ERP</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
